<div id="<%= dom_id artifact %>">
  <p>
    <strong>Name:</strong>
    <%= artifact.name %>
  </p>

  <p>
    <strong>Key:</strong>
    <%= artifact.key %>
  </p>

  <p>
    <strong>Project:</strong>
    <%= artifact.project_id %>
  </p>

</div>
