<body class="d-flex flex-column">
  <div id="page-content">
   
  </div>
  <footer id="sticky-footer" class="flex-shrink-0 py-4 bg-dark text-white-50">
    <div class="container text-center">
      <small>Copyright &copy; 
        <%= Time.now.year %> <%= link_to 'My Project Management App', root_path %> All Rights Reserved. Made by Harsh Kumar
    </div>
  </footer>
</body>